# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr
*.local
vite.config.js
vite.config.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.codex

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment files
.env*.local
.env.development
.env.staging
